<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" lang="en" content="papillon,image,dump">
    <title>{% block title %}{% endblock title %}</title>

    <link rel="stylesheet" href="/static/css/base_style.css">
  </head>
  <body>
    <header>
      <div class="brand">Papillon</div>
      <div id="authbox">
        {% include "authbox.html" %}
      </div>
    </header>
    <div class="content">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
